In [83]:
import pandas as pd
import openpyxl
#from sklearn.impute import KNNImputer

In [122]:
df=pd.read_excel('C:\\Users\\IITM\\OneDrive\\VOCs\\Neural networks\\Monthly data files\\Dec2016.xlsx',sheet_name='Sheet1',engine='openpyxl')
df

,D,l,m33,m42,m45,m57,m59,m69,m71,m73,m79,m93,m107,m137
0,2016-12-01 00:00:00.000000,0.600141,18.836834,1.363917,11.872620,3.756060,11.851994,1.194699,1.667859,2.324267,2.186393,5.629195,3.862123,0.345950
1,2016-12-01 00:59:59.999999,0.663193,16.750345,1.191277,10.868663,3.269740,11.134859,1.097265,1.501408,2.105520,1.717870,4.164114,2.911410,0.330969
2,2016-12-01 02:00:00.000001,0.876898,16.509503,1.265914,11.447650,3.391681,11.735298,1.078864,1.421833,2.192426,2.147144,5.151408,3.351091,0.328164
3,2016-12-01 03:00:00.000000,0.123448,16.768976,1.324819,12.130882,3.518232,12.126450,1.081832,1.446452,2.277510,2.274233,5.883187,3.615112,0.325769
4,2016-12-01 03:59:59.999999,0.741465,17.522442,1.723750,12.704548,4.407252,13.086613,1.222544,1.642990,2.494470,2.901698,7.647158,4.726257,0.353730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2016-12-31 18:59:59.999999,0.250172,18.442865,1.145186,10.210637,2.597650,12.726207,0.943588,1.295639,2.704458,1.746319,4.215471,2.951942,0.170193
740,2016-12-31 20:00:00.000001,0.813269,17.797252,1.050483,8.674971,2.380345,11.021257,0.836747,1.305575,2.299862,1.362560,3.133583,2.347866,0.174222
741,2016-12-31 21:00:00.000000,0.262398,17.782513,1.057248,8.508076,2.576954,11.223097,0.929183,1.405186,2.295527,1.458360,2.964247,2.306174,0.200730
742,2016-12-31 21:59:59.999999,0.033937,18.339733,1.327858,11.179560,4.047827,12.980264,1.194361,1.915950,2.598336,2.781687,6.896477,4.496223,0.231829
743,2016-12-31 23:00:00.000001,0.230470,18.449483,1.431560,11.006501,4.172437,13.153763,1.248324,1.932738,2.605405,3.018794,7.378095,4.839135,0.261807

df['m69'][17]

In [123]:
#total number of null values in the dataframe
df.isnull().sum()

D        0
l        0
m33     64
m42     64
m45     65
m57     64
m59     64
m69     64
m71     64
m73     64
m79     64
m93     64
m107    64
m137    64
dtype: int64

df.columns

In [124]:
df[df['m33'].isnull()].index

Int64Index([ 19, 177, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310,
            311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 370,
            521, 538, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
            599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
            612, 613, 614, 615, 616, 617, 642, 660, 681, 685, 686, 729],
           dtype='int64')

In [125]:
#using interpolate function to fill the missing values, limit is set to fill max 3 consecutive null values at a time
df1=df.interpolate(limit=3)
df1

,D,l,m33,m42,m45,m57,m59,m69,m71,m73,m79,m93,m107,m137
0,2016-12-01 00:00:00.000000,0.600141,18.836834,1.363917,11.872620,3.756060,11.851994,1.194699,1.667859,2.324267,2.186393,5.629195,3.862123,0.345950
1,2016-12-01 00:59:59.999999,0.663193,16.750345,1.191277,10.868663,3.269740,11.134859,1.097265,1.501408,2.105520,1.717870,4.164114,2.911410,0.330969
2,2016-12-01 02:00:00.000001,0.876898,16.509503,1.265914,11.447650,3.391681,11.735298,1.078864,1.421833,2.192426,2.147144,5.151408,3.351091,0.328164
3,2016-12-01 03:00:00.000000,0.123448,16.768976,1.324819,12.130882,3.518232,12.126450,1.081832,1.446452,2.277510,2.274233,5.883187,3.615112,0.325769
4,2016-12-01 03:59:59.999999,0.741465,17.522442,1.723750,12.704548,4.407252,13.086613,1.222544,1.642990,2.494470,2.901698,7.647158,4.726257,0.353730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2016-12-31 18:59:59.999999,0.250172,18.442865,1.145186,10.210637,2.597650,12.726207,0.943588,1.295639,2.704458,1.746319,4.215471,2.951942,0.170193
740,2016-12-31 20:00:00.000001,0.813269,17.797252,1.050483,8.674971,2.380345,11.021257,0.836747,1.305575,2.299862,1.362560,3.133583,2.347866,0.174222
741,2016-12-31 21:00:00.000000,0.262398,17.782513,1.057248,8.508076,2.576954,11.223097,0.929183,1.405186,2.295527,1.458360,2.964247,2.306174,0.200730
742,2016-12-31 21:59:59.999999,0.033937,18.339733,1.327858,11.179560,4.047827,12.980264,1.194361,1.915950,2.598336,2.781687,6.896477,4.496223,0.231829
743,2016-12-31 23:00:00.000001,0.230470,18.449483,1.431560,11.006501,4.172437,13.153763,1.248324,1.932738,2.605405,3.018794,7.378095,4.839135,0.261807

In [126]:
df1[df1['m33'].isnull()].index

Int64Index([303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315,
            316, 317, 318, 319, 320, 321, 322, 591, 592, 593, 594, 595, 596,
            597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609,
            610, 611, 612, 613, 614, 615, 616, 617],
           dtype='int64')

In [127]:
df1.to_excel('C:\\Users\\IITM\\OneDrive\\VOCs\\Neural networks\\Monthly data files\\Dec2016i.xlsx')